<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="MonoAndroid44" />
  <package id="sqlite-net" version="1.0.8" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Android.Support.v4" version="21.0.3.0" targetFramework="MonoAndroid44" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="MonoAndroid44" />
</packages>